$main-color: #4ABB82; 
$dark-color: #333F51;
$secondary-color:#F5F7FA;
$shadow-color:rgb(221, 241, 231); 
$box-shadow-gray:rgba(105, 81, 255, 0.05);
$light-background:#f2f8f4;
$gray-color: var(--400, #8896AB);;
$dark-blue-color:#1D1D35;
$accent-color: #ef233c;
$primary-color: #2b2d42;
