.navbar {
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .img {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 106px;
  height: 32px;
}
.navbar .btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}
.navbar .btns .dropdown-menu {
  margin-top: 10px;
  width: 100%;
  background-color: white;
}
.navbar .btns .dropdown-item.active,
.navbar .btns .dropdown-item:active {
  background-color: rgb(221, 241, 231);
  color: #1D1D35;
}
.navbar .btns .btn {
  display: inline-flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  margin-inline-end: 6px;
}
.navbar .btns .btn:focus {
  box-shadow: 0 0 0 0.25rem rgb(221, 241, 231);
}
.navbar .btns .spans {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
}
.navbar .btns .spans span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 40px 70px 0px rgba(120, 120, 120, 0.11);
  border: 1px solid #D5DAE1;
}
.navbar .btns .spans span p {
  margin: 0;
}
.navbar .btns .spans .book {
  background-color: #4ABB82;
  color: #F5F7FA;
}
.navbar .navbar-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 45px;
  font-size: 16px;
  width: 100%;
  padding-inline-start: 30px;
}
.navbar .navbar-nav .item-toogle {
  display: none;
}
.navbar .navbar-nav .nav-link {
  text-align: center;
  margin-block: 5px;
  padding: 0px;
  flex-grow: 1;
  color: #1D1D35;
  position: relative;
  transition: color 0.3s ease;
}
.navbar .navbar-nav .nav-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link:focus {
  color: #4ABB82;
}
.navbar .navbar-nav .nav-link.active:after, .navbar .navbar-nav .nav-link:focus:after {
  background-color: #4ABB82;
}
.navbar .sec {
  width: 92%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .sec .collapse .new {
  display: none;
}
.navbar .dropdown .dropdown-toggle::after {
  margin-inline: 0.266em;
}

@media (max-width: 990px) {
  .container-nav-main {
    max-width: 100%;
  }
  .container-nav-main.expanded-nav {
    height: 100vh;
    overflow: hidden;
  }
  .container-nav-main .navbar {
    align-items: self-start;
    height: 100%;
  }
  .container-nav-main .navbar .navbar-toggler {
    order: 3;
    border: none;
    background-image: none;
  }
  .container-nav-main .navbar .navbar-toggler[aria-expanded=true] {
    background-image: url(../../img/x-close.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .container-nav-main .navbar .navbar-toggler[aria-expanded=true] span {
    background-image: none;
  }
  .container-nav-main .navbar .navbar-toggler[aria-expanded=false] {
    background-image: url(../../img/menu-01.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
  .container-nav-main .navbar .navbar-toggler[aria-expanded=false] span {
    background-image: none;
  }
  .container-nav-main .navbar .navbar-nav {
    gap: 5px;
    font-size: 16px;
    width: 100%;
    padding-inline-start: 0px;
  }
  .container-nav-main .navbar .navbar-nav .item-toogle {
    display: block;
  }
  .container-nav-main .navbar .container-fluid {
    height: 100%;
    justify-content: flex-start;
    margin: 20px 0px;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .container-nav-main .navbar .sec {
    justify-content: space-between;
    height: 90%;
    align-items: flex-start;
  }
  .container-nav-main .navbar .sec ul {
    width: 100%;
    gap: 24px;
    margin-top: 26px;
  }
  .container-nav-main .navbar .sec ul li {
    width: 100%;
  }
  .container-nav-main .navbar .sec ul li .nav-link {
    text-align: start;
    width: 36%;
  }
  .container-nav-main .navbar .sec .btns,
  .container-nav-main .navbar .sec .navbar-toggler {
    position: absolute;
    top: 0px;
    inset-inline-end: 2%;
  }
  .container-nav-main .navbar .sec .btns {
    inset-inline-end: 12%;
  }
  .container-nav-main .navbar .sec .btns .spans {
    display: none;
  }
  .container-nav-main .navbar .sec .btns .dropdown-menu {
    min-width: 5rem;
  }
  .container-nav-main .navbar .sec .collapse {
    height: 100%;
    flex-basis: 100%;
    flex-grow: 1;
  }
  .container-nav-main .navbar .sec .collapse .main-height {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .container-nav-main .navbar .sec .collapse .main-height .new {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .container-nav-main .navbar .sec .collapse .main-height .new span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 8px 25px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 40px 70px 0px rgba(120, 120, 120, 0.11);
    border: 1px solid #D5DAE1;
    width: 100%;
    padding: 8px 30px;
    margin-block-end: 16px;
  }
  .container-nav-main .navbar .sec .collapse .main-height .new span p {
    margin: 0;
  }
  .container-nav-main .navbar .sec .collapse .main-height .new .book {
    background-color: #4ABB82;
    color: #F5F7FA;
  }
}
.solution {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.solution .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.solution .hero .frist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 40px 70px 0px rgba(120, 120, 120, 0.11);
  border: 1px solid #D5DAE1;
  background-color: #4ABB82;
  color: #F5F7FA;
  padding: 10px 14px;
  height: 26px;
  gap: 9px;
}
.solution .hero .frist p {
  margin: 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.solution .hero .text {
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.solution .hero .text strong {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}
.solution .hero .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-top: 16.6px;
}
.solution .hero .text strong {
  width: 70%;
}
.solution .hero .text p {
  width: 55%;
}
.solution .hero .items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
}
.solution .hero .items span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 40px 70px 0px rgba(120, 120, 120, 0.11);
  border: 1px solid #D5DAE1;
}
.solution .hero .items span p {
  margin: 0;
}
.solution .hero .items .book {
  background-color: #4ABB82;
  color: #F5F7FA;
}
.solution .main-img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 700px;
}
.solution .trust {
  margin: 60px 0px;
  background-color: #f2f8f4;
  width: 100%;
}
.solution .trust h2 {
  font-size: 30.976px;
  font-style: normal;
  font-weight: 600;
  margin-top: 90px;
  line-height: 24.781px;
}
.solution .trust p {
  color: var(--400, #8896AB);
  margin: 20px 0px;
  font-size: 20.651px;
  font-weight: 300;
}
.solution .trust .logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 60px;
}
.solution .trust .logo-container .frist,
.solution .trust .logo-container .sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 37px;
  padding: 17px 0;
}
.solution .trust .logo-container .frist {
  margin-bottom: 25px;
}
.solution .trust .logo-container .frist .logo {
  padding-inline: 60px;
}
.solution .trust .logo-container .sec .logo {
  padding-inline: 40px;
}
.solution .trust .logo-container .sec .start {
  display: none;
}
.solution .trust .logo-container .logo {
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.solution .trust .logo-container .logo img {
  height: 37px;
  width: 119px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.solution .trust .logo-container .logo img:hover {
  opacity: 1;
}

@media (max-width: 1023px) {
  .solution {
    margin-top: 25px;
  }
  .solution .hero .text {
    width: 90%;
    margin-bottom: 0px;
  }
  .solution .hero .text strong {
    font-size: 24px;
    width: 100%;
  }
  .solution .hero .text strong br {
    display: none;
  }
  .solution .hero .text p {
    font-size: 16px;
    width: 100%;
  }
  .solution .hero .text p br {
    display: none;
  }
  .solution .hero .items {
    flex-direction: column;
    width: 93%;
  }
  .solution .hero .items span {
    margin-top: 10px;
    width: 100%;
    padding: 12px 30px;
    height: 48px;
  }
  .solution .main-img {
    width: 100%;
    height: auto;
    z-index: -1;
  }
  .solution .trust {
    padding: 10px 0px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .solution .trust h2 {
    font-weight: 700;
    font-size: 25px;
    margin-top: 40px;
  }
  .solution .trust p {
    color: var(--400, #8896AB);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
  }
  .solution .trust .logo-container {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .solution .trust .logo-container .frist,
  .solution .trust .logo-container .sec {
    width: 74%;
  }
  .solution .trust .logo-container .frist .logo,
  .solution .trust .logo-container .sec .logo {
    flex: 1 1 calc(40% - 15px);
    padding-right: auto;
  }
  .solution .trust .logo-container .frist .logo img,
  .solution .trust .logo-container .sec .logo img {
    width: 84.45px;
    height: 38.977px;
  }
  .solution .trust .logo-container .frist .end,
  .solution .trust .logo-container .sec .end {
    display: none;
  }
  .solution .trust .logo-container .frist .start,
  .solution .trust .logo-container .sec .start {
    display: block;
    padding: 0px;
  }
  .solution .trust .logo-container .frist {
    margin-bottom: 0px;
  }
}
.services {
  margin-bottom: 30px;
}
.services .frist-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.services .frist-part .frist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 40px 70px 0px rgba(120, 120, 120, 0.11);
  border: 1px solid #D5DAE1;
  background-color: #4ABB82;
  color: #F5F7FA;
  padding: 10px 14px;
  height: 26px;
  gap: 9px;
  padding: 6px 16px;
}
.services .frist-part .frist p {
  margin: 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.services .frist-part .text {
  margin: 25px 0;
}
.services .frist-part .text strong {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}
.services .frist-part .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-top: 16.6px;
}
.services .frist-part .content {
  background-color: #F5F7FA;
  width: 100%;
  border-radius: 30px;
  padding: 10px;
  margin: 20px 0;
  font-size: 20.892px;
  font-weight: 400;
}
.services .frist-part .content span {
  background-color: white;
  border-radius: 30px;
}
.services .frist-part .content .item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: #556987;
}
.services .frist-part .content .item img {
  margin-right: 17px;
}
.services .frist-part .content .item p {
  margin-top: 10px;
}
.services .frist-part .content .text-diff {
  color: #1D1D35;
}
.services .frist-part .main {
  margin-top: 75px;
  width: 100%;
  overflow: hidden;
}
.services .frist-part .main .one {
  text-align: start;
}
.services .frist-part .main .one .text {
  margin: 25px 0;
  margin: 4px 0;
}
.services .frist-part .main .one .text strong {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}
.services .frist-part .main .one .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-top: 16.6px;
}
.services .frist-part .main .one .text h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 24px;
}
.services .frist-part .main .one .text p {
  color: var(--800, #333F51);
  font-weight: 300;
  margin-bottom: 24px;
}
.services .frist-part .main .one ul {
  list-style: none;
  padding-left: 0;
  font-size: 20px;
  font-weight: 300;
  color: #333F51;
  margin-bottom: 20px;
  padding-inline-start: 0px;
}
.services .frist-part .main .one ul li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.services .frist-part .main .one a {
  color: #4ABB82;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
  font-size: 18px;
}
.services .frist-part .main .one a img {
  gap: 1px;
  height: 24px;
  width: 24px;
}
.services .frist-part .main .two img {
  width: 100%;
}
.services .frist-part .carousel {
  display: none;
}

@media (max-width: 1023px) {
  .services {
    margin-bottom: 0px;
  }
  .services .frist-part .text {
    margin: 6px 0;
  }
  .services .frist-part .text strong {
    font-size: 24px;
  }
  .services .frist-part .text p {
    font-size: 16px;
  }
  .services .frist-part .content {
    display: none;
  }
  .services .frist-part .carousel {
    margin: 10px 0;
    text-align: left;
    width: 90%;
    display: block;
  }
  .services .frist-part .carousel .carousel-control-next {
    background-color: #4ABB82;
  }
  .services .frist-part .carousel .carousel-control-prev {
    background-color: var(--400, #8896AB);
    right: 37px;
    left: auto;
  }
  .services .frist-part .carousel .carousel-control-next,
  .services .frist-part .carousel .carousel-control-prev {
    --size: 27px;
    font-size: 10px;
    border-radius: 100%;
    width: var(--size);
    height: var(--size);
    transform: translate(-4%, -50%);
    top: 50%;
  }
  .services .frist-part .carousel .carousel-control-next span,
  .services .frist-part .carousel .carousel-control-prev span {
    text-align: center;
    background-image: none;
    font-size: 10px;
    padding-top: 8px;
  }
  .services .frist-part .main {
    margin-top: 0px;
  }
  .services .frist-part .main .one .text h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 0px;
  }
  .services .frist-part .main .one .text h1 br {
    display: none;
  }
  .services .frist-part .main .one .text p {
    margin-block: 20px;
    font-size: 16px;
  }
  .services .frist-part .main .one ul {
    font-size: 16px;
  }
  .services .frist-part .main .two {
    order: -1;
  }
  .services .frist-part .main .one,
  .services .frist-part .main .two {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .services .sec-part {
    margin-top: 100px;
  }
  .services .sec-part .text strong {
    font-size: 30px;
  }
  .services .sec-part .hero-part {
    flex-wrap: wrap;
  }
  .services .sec-part .hero-part .sec-section {
    width: 100%;
    order: 3;
  }
  .services .sec-part .hero-part .third-section,
  .services .sec-part .hero-part .frist-section {
    width: 50%;
    align-items: center;
  }
}
.sec-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.sec-part .text {
  position: relative;
  margin: 25px 0;
  font-size: 36px;
  font-weight: 600;
}
.sec-part .text img {
  position: absolute;
}
.sec-part .text img:first-of-type {
  bottom: 138px;
  inset: -55px;
}
.sec-part .text strong {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}
.sec-part .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-top: 16.6px;
}
.sec-part .hero-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  flex-direction: row;
  width: 100%;
}
.sec-part .hero-part .frist-section,
.sec-part .hero-part .third-section {
  flex-direction: column;
  gap: 20px;
}
.sec-part .hero-part .frist-section .element,
.sec-part .hero-part .third-section .element {
  padding: 16px;
  gap: 20px;
  width: 70%;
  transition: 0.2s ease-in-out all;
  border-radius: 8px;
}
.sec-part .hero-part .frist-section .element img,
.sec-part .hero-part .third-section .element img {
  padding: 20px 0;
}
.sec-part .hero-part .frist-section .element h3,
.sec-part .hero-part .third-section .element h3 {
  font-size: 20px;
  font-weight: 500;
}
.sec-part .hero-part .frist-section .element p,
.sec-part .hero-part .third-section .element p {
  color: var(--400, #8896AB);
  font-weight: 300;
}
.sec-part .hero-part .frist-section .element:hover,
.sec-part .hero-part .third-section .element:hover {
  box-shadow: 0px 40px 70px 0px rgba(120, 120, 120, 0.11);
  cursor: pointer;
  border-radius: 10px;
}
.sec-part .hero-part .third-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.sec-part .hero-part .frist-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1023px) {
  .sec-part {
    margin-top: 20px;
  }
  .sec-part .text {
    margin: 0px;
  }
  .sec-part .text strong {
    font-size: 24px;
  }
  .sec-part .text img:first-of-type {
    bottom: 105px;
    left: 43px;
  }
  .sec-part .hero-part {
    flex-wrap: wrap;
  }
  .sec-part .hero-part .sec-section {
    width: 100%;
    order: 3;
  }
  .sec-part .hero-part .third-section,
  .sec-part .hero-part .frist-section {
    margin-bottom: 45px;
    width: 50%;
    align-items: center;
  }
  .sec-part .hero-part .third-section .element,
  .sec-part .hero-part .frist-section .element {
    padding: 10px 8px;
  }
  .sec-part .hero-part .third-section .element h3,
  .sec-part .hero-part .frist-section .element h3 {
    font-size: 15px;
  }
  .sec-part .hero-part .third-section .element p,
  .sec-part .hero-part .frist-section .element p {
    font-size: 13px;
  }
}
@media (max-width: 880px) {
  .sec-part .text img {
    display: none;
  }
  .sec-part .text p {
    font-size: 16px;
  }
  .sec-part .text p br {
    display: none;
  }
  .sec-part .hero-part .third-section .element,
  .sec-part .hero-part .frist-section .element {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .sec-part .text {
    width: 80%;
  }
  .sec-part .hero-part .sec-section img {
    width: 80%;
  }
  .sec-part .hero-part .third-section,
  .sec-part .hero-part .frist-section {
    width: 100%;
    margin-bottom: 20px;
  }
  .sec-part .hero-part .third-section .element,
  .sec-part .hero-part .frist-section .element {
    width: 80%;
  }
}
.features {
  background-color: #f2f8f4;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.features .hero {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.features .hero .frist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 40px 70px 0px rgba(120, 120, 120, 0.11);
  border: 1px solid #D5DAE1;
  background-color: #4ABB82;
  color: #F5F7FA;
  padding: 10px 14px;
  height: 26px;
  gap: 9px;
  padding: 6px 16px;
}
.features .hero .frist p {
  margin: 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.features .hero .text {
  margin: 25px 0;
}
.features .hero .text strong {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}
.features .hero .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-top: 16.6px;
}
.features .main {
  margin: 45px 0px;
}
.features .main .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.features .main .row .col-3 {
  transition: 0.2s ease-in all;
  width: 359px;
  height: 272px;
  border-radius: 8px;
}
.features .main .row .col-3 img {
  margin-top: 38px;
  border-radius: 100%;
  padding: 15px;
  background-color: white;
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
}
.features .main .row .col-3:hover {
  background-color: #4ABB82;
  box-shadow: 0 2px 4px rgba(105, 81, 255, 0.05);
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.features .main .row .col-3 p {
  font-size: 16px;
  font-weight: 300;
}
.features .main .row .col-3 h3 {
  font-size: 24px;
  font-weight: 700;
}
.features .carousel {
  display: none;
}

@media (max-width: 1200px) {
  .features {
    margin-top: 10px;
    padding-bottom: 40px;
  }
  .features .hero .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .features .hero .text strong {
    font-size: 24px;
  }
  .features .hero .text p {
    color: var(--400, #8896AB);
    width: 65%;
    font-size: 16px;
  }
  .features .main {
    display: none;
  }
  .features .carousel {
    width: 80%;
    margin: 40px 0px;
    margin: 10px 0;
    text-align: left;
    width: 80%;
    display: block;
  }
  .features .carousel .carousel-indicators [data-bs-target] {
    background-color: var(--400, #8896AB);
    height: 12px;
    width: 12px;
    border-radius: 100%;
  }
  .features .carousel .carousel-indicators {
    margin-bottom: -28px;
    gap: 7px;
  }
  .features .carousel .carousel-indicators .active {
    background-color: #4ABB82;
  }
  .features .carousel .one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    justify-content: center;
  }
  .features .carousel .one p {
    font-size: 16px;
    width: 50%;
    font-weight: 300;
  }
  .features .carousel .one h3 {
    font-size: 20px;
  }
  .features .carousel .one img {
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
  }
  .features .carousel .back {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .features .carousel .back .carousel-control-next {
    background-color: #4ABB82;
  }
  .features .carousel .back .carousel-control-prev {
    background-color: var(--400, #8896AB);
  }
  .features .carousel .back .new-effect {
    position: static;
  }
  .features .carousel .back .carousel-control-next,
  .features .carousel .back .carousel-control-prev {
    position: static;
    --size: 2rem;
    font-size: 10px;
    border-radius: 100%;
    width: var(--size);
    height: var(--size);
    margin-bottom: 24px;
    margin-right: 10px;
  }
  .features .carousel .back .carousel-control-next span,
  .features .carousel .back .carousel-control-prev span {
    width: 27px;
    height: 27px;
    padding: 6.75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5px;
    background-image: none;
  }
  .features .carousel .back .carousel-control-next span i,
  .features .carousel .back .carousel-control-prev span i {
    font-size: 13px;
  }
}
.price {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-image: url(../../../img/Group5.png);
  background-position-y: center;
  background-repeat: repeat-x;
}
.price .hero {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.price .hero .frist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 40px 70px 0px rgba(120, 120, 120, 0.11);
  border: 1px solid #D5DAE1;
  background-color: #4ABB82;
  color: #F5F7FA;
  padding: 10px 14px;
  height: 26px;
  gap: 9px;
  padding: 6px 16px;
}
.price .hero .frist p {
  margin: 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.price .hero .text {
  margin: 25px 0;
}
.price .hero .text strong {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}
.price .hero .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-top: 16.6px;
}
.price .row {
  margin-top: 50px;
  width: 100%;
}
.price .row .card {
  border: none;
  border-radius: 15px;
  border: 1px solid #D4D6D9;
  margin-bottom: 2rem;
  height: 763px;
}
.price .row .card .card-body .per-year {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.price .row .card .card-body .start {
  top: 94px;
  position: absolute;
}
.price .row .card .card-body .frist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price .row .card .card-body .frist-header span {
  background-color: white;
  color: black;
  border-radius: 36px;
  height: 30px;
  padding: 5px 8px;
}
.price .row .card .card-body .frist-header span p {
  font-size: 12px;
  text-transform: uppercase;
}
.price .row .card .card-body .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.price .row .card .card-body .header .dark {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 55px;
  height: 55px;
  background-color: transparent;
}
.price .row .card .card-body .header .dark i {
  color: #f9fafc;
  font-size: 16px;
}
.price .row .card .card-body .header span {
  background-color: #f9fafc;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price .row .card .card-body .header span i {
  font-size: 30px;
}
.price .row .card .card-body p {
  text-align: start;
}
.price .row .card .card-title {
  margin-inline: 12px;
  font-weight: 500;
}
.price .row .card hr {
  width: 98%;
}
.price .row .card .card-subtitle {
  text-align: start;
  margin-top: 65px;
  font-size: 48px;
  color: black;
  font-weight: 500;
}
.price .row .card ul {
  padding-left: 0;
  list-style: none;
  text-align: start;
  margin-top: 16px;
  width: 100%;
  padding-inline-start: 0px;
}
.price .row .card ul li {
  font-size: 16px;
  margin-bottom: 0.5rem;
}
.price .row .card .cord-footer {
  margin: 30px 0px;
  background-color: transparent;
  text-align: center;
}
.price .row .card .btn {
  background-color: transparent;
  border: none;
  border-radius: 100px;
  width: 317px;
  height: 48px;
  padding: 16px 28px;
  text-transform: capitalize;
  color: black;
  border: 1px solid var(--400, #8896AB);
  font-weight: 500;
}
.price .row .card .btn p {
  margin-top: -4px;
}
.price .row .card.popular {
  background-color: #2b2d42;
}
.price .row .card.popular .card-title,
.price .row .card.popular .card-subtitle,
.price .row .card.popular .card-text,
.price .row .card.popular li:before {
  color: white;
}
.price .row .card.popular .btn {
  background-color: white;
  color: #2b2d42;
}
.price .row .card.popular .btn:hover {
  background-color: #cccccc;
}

@media (max-width: 1200px) {
  .price {
    background-image: none;
    margin-top: 0px;
  }
  .price .hero .text {
    margin-bottom: 0px;
  }
  .price .hero .text p {
    font-size: 16px;
  }
  .price .hero .text strong {
    font-size: 24px;
  }
  .price .hero .text img:first-of-type {
    bottom: 138px;
    left: -18px;
  }
  .price .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .price .row .card .card-subtitle {
    font-size: 2rem;
  }
  .price .row .card .card-title {
    font-size: 1rem;
  }
  .price .row .card .cord-footer a {
    width: 230px;
  }
  .price .row .col-md-4 {
    width: 50%;
  }
  .price .row .col-md-4 .btn {
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  .price .row {
    margin-top: 0px;
    width: auto;
  }
  .price .row .card .card-subtitle {
    font-size: 1.7rem;
  }
  .price .row .card .card-title {
    font-size: 1.2rem;
  }
  .price .row .card .card-body .frist-header span {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
  .price .row .col-md-4 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .price .row .card .card-body .frist-header span {
    display: none;
  }
}
.testimonial {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.testimonial .frist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 40px 70px 0px rgba(120, 120, 120, 0.11);
  border: 1px solid #D5DAE1;
  background-color: #4ABB82;
  color: #F5F7FA;
  padding: 10px 14px;
  height: 26px;
  gap: 9px;
  padding: 6px 16px;
}
.testimonial .frist p {
  margin: 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.testimonial .text {
  margin: 25px 0;
  position: relative;
  margin-top: 39px;
}
.testimonial .text strong {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}
.testimonial .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-top: 16.6px;
}
.testimonial .text strong {
  font-size: 30px;
  font-weight: 500;
}
.testimonial .text img:nth-of-type(1) {
  position: absolute;
  top: -47px;
  left: -106px;
}
.testimonial .text img:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  right: 0;
}
.testimonial .carousel {
  margin: 10px 0;
  text-align: left;
  width: 100%;
  display: block;
  margin: 70px 0px;
}
.testimonial .carousel .carousel-indicators [data-bs-target] {
  background-color: var(--400, #8896AB);
  height: 12px;
  width: 12px;
  border-radius: 100%;
  margin-bottom: auto;
}
.testimonial .carousel .carousel-indicators {
  margin-bottom: -1.5rem;
}
.testimonial .carousel .carousel-indicators .active {
  background-color: #4ABB82;
}
.testimonial .carousel .one {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
  padding-bottom: 35px;
  justify-content: center;
}
.testimonial .carousel .one p {
  margin-bottom: 20px;
  font-size: 16px;
  width: 50%;
}
.testimonial .carousel .one img {
  margin-bottom: 38px;
  width: 88px;
  height: 88px;
}
.testimonial .carousel .back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -31px;
}
.testimonial .carousel .back .carousel-control-next {
  background-color: #4ABB82;
}
.testimonial .carousel .back .carousel-control-prev {
  background-color: var(--400, #8896AB);
}
.testimonial .carousel .back .carousel-control-next,
.testimonial .carousel .back .carousel-control-prev {
  --size: 2.1rem;
  font-size: 10px;
  border-radius: 100%;
  width: var(--size);
  height: var(--size);
  margin-right: 10px;
}
.testimonial .carousel .back .carousel-control-next span,
.testimonial .carousel .back .carousel-control-prev span {
  width: 24px;
  height: 24px;
  background-image: none;
  font-size: 15px;
}

@media (max-width: 1400px) {
  .testimonial {
    margin-top: 0px;
  }
  .testimonial .text {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .testimonial .text strong {
    overflow: hidden;
    z-index: 3;
  }
  .testimonial .text p {
    font-size: 16px;
  }
  .testimonial .text img {
    z-index: 2;
  }
  .testimonial .carousel {
    width: 80%;
    margin: 40px 0px;
    margin: 20px 0;
    text-align: start;
    width: 80%;
    display: block;
  }
  .testimonial .carousel .carousel-indicators [data-bs-target] {
    background-color: var(--400, #8896AB);
    height: 12px;
    width: 12px;
    border-radius: 100%;
  }
  .testimonial .carousel .carousel-indicators {
    margin-bottom: -26px;
    gap: 7px;
    margin-left: 13%;
  }
  .testimonial .carousel .carousel-indicators .active {
    background-color: #4ABB82;
  }
  .testimonial .carousel .one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    justify-content: center;
  }
  .testimonial .carousel .one p {
    font-size: 16px;
    width: 100%;
    font-weight: 300;
  }
  .testimonial .carousel .one h3 {
    font-size: 20px;
  }
  .testimonial .carousel .one img {
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
  }
  .testimonial .carousel .back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -15px;
  }
  .testimonial .carousel .back .carousel-control-next {
    background-color: #4ABB82;
  }
  .testimonial .carousel .back .carousel-control-prev {
    background-color: var(--400, #8896AB);
  }
  .testimonial .carousel .back .new-effect {
    position: static;
  }
  .testimonial .carousel .back .carousel-control-next,
  .testimonial .carousel .back .carousel-control-prev {
    position: static;
    --size: 2rem;
    font-size: 10px;
    border-radius: 100%;
    width: var(--size);
    height: var(--size);
    margin-bottom: 24px;
    margin-right: 10px;
  }
  .testimonial .carousel .back .carousel-control-next span,
  .testimonial .carousel .back .carousel-control-prev span {
    width: 27px;
    height: 27px;
    padding: 6.75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5px;
    background-image: none;
  }
  .testimonial .carousel .back .carousel-control-next span i,
  .testimonial .carousel .back .carousel-control-prev span i {
    font-size: 13px;
  }
  .testimonial .carousel .carousel-inner {
    height: 200px;
  }
}
@media (max-width: 800px) {
  .testimonial .text {
    width: 100%;
  }
  .testimonial .text strong {
    font-size: 20px;
  }
  .testimonial .text strong br {
    display: none;
  }
}
@media (max-width: 600px) {
  .testimonial .text {
    width: 100%;
  }
  .testimonial .text img {
    display: none;
  }
}
.text-start {
  margin-top: 70px;
}
.text-start .section-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.text-start .section-subtitle {
  color: var(--400, #8896AB);
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
}

.row .btn-outline-secondary {
  padding: 16px 25px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 100px;
  border: 1.5px solid #D5DAE1;
  color: #000;
}
.row .btn-outline-secondary:hover {
  color: white;
}

.case-cards {
  margin-bottom: 200px;
}

.case-item {
  border: none;
  border-radius: 10px;
  margin: 10px 0;
  width: 100%;
}
.case-item .case-main {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 240px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.case-item .one {
  background-image: url(../../../img/Image3.png);
}
.case-item .one .name {
  font-size: 16px;
}
.case-item .two {
  background-image: url(../../../img/Image4.png);
}
.case-item .two .name {
  font-size: 16px;
}
.case-item .three {
  background-image: url(../../../img/Image5.png);
}
.case-item .text-overlay {
  background-color: red;
  width: 100%;
  position: relative;
}
.case-item .text-overlay p {
  margin-block-end: 0px;
  position: absolute;
  left: 49%;
}
.case-item .text-overlay .name {
  font-size: 13px;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-3%, -96%);
}
.case-item .text-overlay .role {
  font-size: 10.539px;
  font-weight: 300;
  top: 60%;
  transform: translate(3%, 20%);
}
.case-item .case-body {
  padding: 15px 20px;
}
.case-item .case-body .case-title {
  font-weight: bold;
  margin-bottom: 10px;
}
.case-item .case-body .case-role {
  color: var(--400, #8896AB);
  margin-bottom: 10px;
}
.case-item .case-footer {
  padding: 0px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.case-item .case-footer .case-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}
.case-item .case-footer .case-badge {
  background-color: #f8f9fa;
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 20px;
}

@media (max-width: 1220px) {
  .case {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .case .btn {
    order: 4;
    width: 100%;
  }
  .case .case-cards {
    margin-bottom: 20px;
    width: 100%;
  }
  .case .case-cards .col-md-4 {
    margin-block-end: 0px;
    width: 45%;
  }
  .case .case-cards .col-md-4 .case-item .case-main {
    background-size: inherit;
  }
  .case .case-cards .col-md-4 .case-item .case-body {
    padding: 8px 0px;
  }
  .case .case-cards .col-md-4 .case-item .case-footer {
    padding: 0px;
  }
  .case .case-cards .col-md-4 .case-item .case-img {
    -o-object-fit: none;
       object-fit: none;
  }
  .case .text-start {
    margin-top: 20px;
  }
  .case .text-start .section-subtitle {
    margin-bottom: 5px;
  }
}
@media (max-width: 800px) {
  .case .case-cards .col-md-4 {
    width: 100%;
  }
}
.faq {
  background-color: #f2f8f4;
  position: relative;
  padding: 40px 0px;
}
.faq .img-star {
  top: 0px;
  left: 0px;
  position: absolute;
  transform: rotate(-180deg);
}
.faq .hero {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.faq .hero .frist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 40px 70px 0px rgba(120, 120, 120, 0.11);
  border: 1px solid #D5DAE1;
  background-color: #4ABB82;
  color: #F5F7FA;
  padding: 10px 14px;
  height: 26px;
  gap: 9px;
  padding: 6px 16px;
}
.faq .hero .frist p {
  margin: 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.faq .hero .text {
  margin: 25px 0;
}
.faq .hero .text strong {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}
.faq .hero .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-top: 16.6px;
}
.faq .faq-container {
  padding: 20px;
  border-radius: 10px;
}
.faq .faq-container .accordion-item {
  border: 1.5px solid #1D1D35;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.faq .faq-container .accordion-item .accordion-header {
  background-color: white;
}
.faq .faq-container .accordion-item .accordion-header .accordion-button {
  font-size: 16px;
  padding: 20px 23px;
  color: #000;
  text-align: left;
  background-color: white;
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq .faq-container .accordion-item .accordion-header .accordion-button:after {
  margin-left: 0px;
  font-size: 24px;
  content: "+";
  color: #000;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq .faq-container .accordion-item .accordion-header .accordion-button[aria-expanded=true] {
  border-bottom: none;
  color: #000;
}
.faq .faq-container .accordion-item .accordion-header .accordion-button[aria-expanded=true]:after {
  content: "-";
  font-size: 24px;
}
.faq .faq-container .accordion-item .accordion-body {
  padding: 15px;
  background-color: #ffffff;
  border-top: 1px solid #ccd1d5;
}
.faq .faq-container .btn {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 500;
  color: #000;
}
.faq .faq-container .btn:hover {
  color: white;
}
.faq .img-vector {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 500px) {
  .img-vector {
    display: none;
  }
  .faq .container .hero .text strong {
    font-size: 50px;
  }
  .faq .container .faq-container .accordion-item .accordion-header .accordion-button {
    font-size: 13px;
  }
  .faq .container .faq-container .btn {
    width: 100%;
    padding: 16px 25px;
  }
}
.ready {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.ready .text {
  margin: 25px 0;
  width: 55%;
}
.ready .text strong {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}
.ready .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-top: 16.6px;
}
.ready .text .arrow-div {
  position: relative;
  width: 100%;
}
.ready .text .arrow-div img {
  position: absolute;
  top: 30px;
  left: -20px;
}
.ready .text p {
  font-size: 18px;
}
.ready .items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
}
.ready .items span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 40px 70px 0px rgba(120, 120, 120, 0.11);
  border: 1px solid #D5DAE1;
}
.ready .items span p {
  margin: 0;
}
.ready .items .book {
  background-color: #4ABB82;
  color: #F5F7FA;
}
.ready .ipad {
  width: 100%;
}
.ready .ipad img {
  width: 100%;
}

@media (max-width: 1400px) {
  .ready .text {
    width: 80%;
  }
  .ready .text .arrow-div img {
    display: none;
  }
}
@media (max-width: 800px) {
  .ready {
    margin-top: 20px;
  }
  .ready .text {
    width: 100%;
    margin: 0px;
  }
  .ready .text .arrow-div strong {
    font-size: 30px;
  }
  .ready .items {
    flex-direction: column;
    width: 100%;
  }
  .ready .items span {
    margin-top: 10px;
    width: 100%;
  }
}
.footer {
  background: linear-gradient(106deg, #232340 1.92%, #2F374E 41.78%, #404F65 94.77%);
  color: #fff;
  text-transform: capitalize;
  position: relative;
  padding-block: 45px;
}
.footer h2 {
  font-size: 32px;
  font-weight: 500;
}
.footer p {
  font-size: 20px;
  font-weight: 300;
}
.footer .frist {
  padding: 20px 0px;
}
.footer .form-main {
  display: flex;
  justify-content: flex-start;
  align-items: normal;
  flex-direction: column;
}
.footer .newsletter-form {
  position: relative;
  width: 80%;
}
.footer .newsletter-form input[type=email] {
  padding: 10px 15px;
  border: none;
  border-radius: 20px 0 0 20px;
  outline: none;
  width: 100%;
  padding: 10px 10px 10px 24px;
  border-radius: 100px;
  background: rgba(243, 244, 245, 0.1);
  color: white;
}
.footer .newsletter-form input[type=email]::-moz-placeholder {
  color: white;
}
.footer .newsletter-form input[type=email]::placeholder {
  color: white;
}
.footer .newsletter-form .btn-subscribe {
  padding: 5px 23px;
  border-radius: 100px;
  box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
  border: none;
  background-color: #4ABB82;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 5px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.footer .middle {
  padding: 45px 0px;
}
.footer .footer-links {
  list-style: none;
  padding: 0;
}
.footer .footer-links li {
  display: inline;
  margin-inline-end: 17px;
}
.footer .footer-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
.footer .footer-links li a:hover {
  text-decoration: underline;
}
.footer .social-links {
  list-style: none;
  padding: 0;
}
.footer .social-links li {
  display: inline;
  margin-right: 10px;
}
.footer .social-links li a {
  color: #fff;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.footer .social-links li a:hover {
  color: #4ABB82;
}
.footer .end {
  text-align: center;
  position: relative;
}
.footer .end .copyright {
  font-size: 14px;
  margin-top: 40px;
  text-align: center;
}
.footer .end .copyright p {
  width: 100%;
  font-size: 14px;
}
.footer .end .copyright p a {
  color: #fff;
  text-decoration: none;
  padding-inline-start: 24px;
  text-decoration: underline;
}
.footer .end .copyright p a:hover {
  text-decoration: underline;
}
.footer .end .img-end {
  position: absolute;
  right: 6%;
  top: -67%;
}

@media (max-width: 1023px) {
  .footer {
    text-align: center;
    padding-block: 25px;
  }
  .footer h2 {
    font-size: 22px;
  }
  .footer p {
    font-size: 14px;
  }
  .footer .footer-links,
  .footer .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .footer .footer-links {
    height: 250px;
  }
  .footer .footer-links li {
    margin-inline-end: 0px;
  }
  .footer .social-links {
    margin-right: 0px;
  }
  .footer .social-links li {
    padding-inline-start: 0px;
  }
  .footer .end .copyright {
    width: 100%;
    margin-top: 0px;
  }
  .footer .end .copyright p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-right: 0px;
  }
  .footer .end .copyright p span {
    order: 3;
  }
  .footer .end .copyright p a {
    margin-block-end: 17px;
    padding-inline-start: 0px;
  }
  .footer .end .img-end {
    display: none;
  }
  .footer .newsletter-form {
    font-size: 14px;
    width: 100%;
  }
  .footer .newsletter-form .btn-subscribe {
    font-size: 14px;
  }
  .footer .middle {
    padding: 0px 0px;
  }
}
[dir=rtl] .btn-subscribe {
  right: auto !important;
  left: 7px !important;
}

body {
  font-family: "Alexandria", sans-serif;
}/*# sourceMappingURL=style.css.map */