<div class="container">
    <div class="ready">
    <div class="text">
      <div class="arrow-div">
        <img src="../../img/arrow.svg"/>
        <strong> Ready to get started</strong> 
        </div>
        <p> Let's come together and showcase how we can attain
            <br /> growth your business.
        </p>
    </div>
    <div class="items">
        <span class="book">
            <p>Book Demo</p>
          </span>
        <span class="contact">
          <p>Contact Sales</p>
        </span>
      </div>
      <div class="ipad">
        <img src="../../img/image.jpg"/>
      </div>
      </div>
</div>