.navbar {
  height: 82px;
  @include flex-container(center, center);

  .img {
    @include flex-container(start, center);
    width: 106px;
    height: 32px;
  }

  .btns {
    @include flex-container(space-around, center);
    list-style: none;
    padding: 0;

    .dropdown-menu {
      margin-top: 10px;
      width: 100%;
      background-color: white;
    }

    .dropdown-item.active,
    .dropdown-item:active {
      background-color: $shadow-color;
      color: $dark-blue-color;
    }

    .btn {
      display: inline-flex;
      padding: 6px 16px;
      justify-content: center;
      align-items: center;
      margin-inline-end: 6px;
    }

    .btn:focus {
      box-shadow: 0 0 0 .25rem $shadow-color;
    }

    .spans {
      @include flex-container(space-around, center);
      gap: 6px;

      span {
        @include span-style($box-shadow-gray);

        p {
          margin: 0;
        }
      }

      .book {
        @include book-style($main-color, $secondary-color);
      }
    }
  }

  .navbar-nav {
    @include flex-container(start, center);
    gap: 45px;
    font-size: 16px;
    width: 100%;
    padding-inline-start: 30px;

    .item-toogle {
      display: none;
    }

    .nav-link {
      text-align: center;
      margin-block: 5px;
      padding: 0px;
      flex-grow: 1;
      color: $dark-blue-color;
    }
  }

  .sec {
    width: 92%;
    @include flex-container(space-around, center);

    .collapse {
      .new {
        display: none;
      }
    }
  }

}

@media (max-width: 990px) {
  .container {
    max-width: 100%;

    .navbar {
      .navbar-toggler {
        order: 3;
        border: none;
        background-image: none;

        &[aria-expanded="true"] {
          background-image: url(../../img/x-close.png);
          background-position: center;
          background-repeat: no-repeat;

          span {
            background-image: none;
          }
        }
        &[aria-expanded="false"] {
          background-image: url(../../img/menu-01.svg);
          background-position: center;
          background-repeat: no-repeat;

          span {
            background-image: none;
          }
        }
      }

      .navbar-nav {
        gap: 5px;
        font-size: 16px;
        width: 100%;
        padding-inline-start: 0px;
        .item-toogle {
          display: block;
        }

      }

      .container-fluid {
        margin: 20px 0px;
        position: relative;
        align-items: flex-start;
        flex-direction: column;
      }

      .sec {
        justify-content: right;

        ul {
          width: 30%;
          gap: 24px;
          margin-top: 26px;  

          li {
            width: 100%;

            .nav-link {
              text-align: start;
            }
          }
        }

        .btns,
        .navbar-toggler {
          position: absolute;
          top: 0px;
          right: -6px;
        }

        .btns {
          right: 40px;

          .spans {
            display: none;
          }
          .dropdown-menu{
            min-width: 5rem;
          }
        }

        .collapse {
          .new {
            display: block;
            margin-top: 327px;
            text-align: center;
            margin-bottom: 10px;
            width: 100%;
            @include flex-container(space-around, center);
            flex-direction: column;

            span {
              @include span-style($box-shadow-gray);
              width: 100%;
              padding: 8px 30px;
              margin-block-end: 16px;

              p {
                margin: 0;
              }
            }

            .book {
              @include book-style($main-color, $secondary-color);
            }
          }
        }
      }

    }
  }
}