<div class="container">
    <hr/>
    <div class="case">
    <div class="row">
        <div class="col-12 text-start">
            <h2 class="section-title">Partners cases study</h2>
            <p class="section-subtitle">Get to know our customers' stories and their experience with Queue.</p>
        </div>
    </div>
    <div class="row btn">
        <div class="col-12 text-end mb-4">
            <button class="btn btn-outline-secondary ">View More Cases</button>
        </div>
    </div>
    <div class="row case-cards">
        <div class="col-md-4">
            <div class="case-item">
                <img src="../../img/post1.svg" class="case-img" alt="Ahmed Khalifa">
                <div class="case-body">
                    <small class="case-date text-muted">Mohamed Tark - 20 Jan 2023</small>
                    <h5 class="case-title">McDonald's and the story of increasing profits through ...</h5>
                </div>
                <div class="case-footer">
                   
                    <p class="case-description">Ahmed Khalifa Tells the importance of electronic marketing in the management...</p>
                    <span class="case-badge">Restaurant Marketing</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="case-item">
                <img src="../../img/post2.svg" class="case-img" alt="Omar & Fayad">
                <div class="case-body">
                    <small class="case-date text-muted">Mohamed Tark - 20 Jan 2023</small>
                    <h5 class="case-title">Five guys owners Tell the importance of electronic marketing in the management...</h5>
                </div>
                <div class="case-footer">
                    <p class="case-description">Five guys owners Tell the importance of electronic marketing in the management..</p>
                    <span class="case-badge">Restaurant Marketing</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="case-item">
                <img src="../../img/post3.svg" class="case-img" alt="Moayed Abdel Rahman">
                <div class="case-body">
                    <small class="case-date text-muted">Mohamed Tark - 20 Jan 2023</small>
                    <h5 class="case-title">Moayed Tells the importance of electronic marketing in the management restaurant ...</h5>
                </div>
                <div class="case-footer">
                    <p class="case-description">Moayed Tells the importance of electronic marketing in the management restaurant</p>
                    <span class="case-badge">Restaurant Marketing</span>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
