

  <div class="price ">
  
    <div class="container">
    <div class="hero">
      <span class="frist book">
        <i class="fa-solid fa-tag"></i>
        <p>Pricing</p>
      </span>
      <div class="text">
        <strong>Flexible pricing plan for your business</strong>
        <p>Choose & Manage your package to what your business really needs.</p>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-4" >
        <div class="card text-center">
          <div class="card-body">
            <div class="header">
              <span>
                <i class="fa-regular fa-heart"></i>
              </span>
              <h5 class="card-title">Enterprise</h5>
            </div>
            <h6 class="card-subtitle mb-2">Let’s talk</h6>
            <hr/>
            <p class="text-muted">Features include:</p>
            <ul class="list-unstyled">
              <li><img src="../../img/Check_green.svg" alt="Check"> Custom contract and pricing</li>
              <li><img src="../../img/Check_green.svg" alt="Check"> Priority support</li>
              <li><img src="../../img/Check_green.svg" alt="Check"> Dedicated account manager</li>
            </ul>
          </div>
          <div class="cord-footer">
            <a href="#" class="btn btn-light"  data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1000">
              <p>Contact Sales</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4" >
        <div class="card text-center bg-dark text-light popular">
          <div class="card-body">
            <div class="frist-header">
              <div class="header">
                <span class="dark">
                  <i class="fa-solid fa-book"></i>
                </span>
                <h5 class="card-title">Starter</h5>
              </div>
              <span>
                <p class="most-pop">MOST POPULAR</p>
              </span>
            </div>
            <p class="text-muted start">Starting from</p>
            <span class="per-year">
              <h6 class="card-subtitle mb-2 text-light">KD 175</h6>
              <h5 class="text-muted">/per year</h5>
            </span>
            <hr/>
            <p class="text-muted">Features include:</p>
            <ul class="list-unstyled">
              <li><img src="../../img/Check_white.svg" alt="Check"> 1 Branch</li>
              <li><img src="../../img/Check_white.svg" alt="Check"> 1 User</li>
              <li><img src="../../img/Check_white.svg" alt="Check"> 50 items</li>
              <li><img src="../../img/Check_white.svg" alt="Check"> Order Management</li>
              <li><img src="../../img/Check_white.svg" alt="Check"> Stock Management</li>
              <li><img src="../../img/Check_white.svg" alt="Check"> Reporting</li>
            </ul>
            <p class="text-muted">ADD-ONS:</p>
            <ul class="list-unstyled">
              <li><img src="../../img/Check_white.svg" alt="Check"> Extra Branch - 5 KD</li>
              <li><img src="../../img/Check_white.svg" alt="Check"> Extra User - 5 KD</li>
              <li><img src="../../img/Check_white.svg" alt="Check"> 50 Extra Items - 5 KD</li>
            </ul>
          </div>
          <div class="cord-footer">
            <a href="#" class="btn btn-secondary text-light bg-dark"  data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1000">
              <p>Contact Sales</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <div class="header">
              <span>
                <i class="fa-brands fa-squarespace"></i>
              </span>
              <h5 class="card-title">Queue Pro</h5>
            </div>
            <p class="text-muted start">Starting from</p>
            <span class="per-year">
              <h6 class="card-subtitle mb-2">KD 175</h6>
              <h5 class="text-muted">/per year</h5>
            </span>
            <hr/>
            <p class="text-muted">Same starter plan:</p>
            <ul class="list-unstyled">
              <li><img src="../../img/Check_green.svg" alt="Check"> Same starter plan +</li>
              <li><img src="../../img/Check_green.svg" alt="Check"> Pro Reports</li>
              <li><img src="../../img/Check_green.svg" alt="Check"> Pro Marketing</li>
              <li><img src="../../img/Check_green.svg" alt="Check"> Pro Support</li>
            </ul>
            <p class="text-secondary">ADD-ONS:</p>
            <ul class="list-unstyled">
              <li><img src="../../img/Check_green.svg" alt="Check"> Extra Branch - 5 KD</li>
              <li><img src="../../img/Check_green.svg" alt="Check"> Extra User - 5 KD</li>
              <li><img src="../../img/Check_green.svg" alt="Check"> 50 Extra Items - 5 KD</li>
            </ul>
          </div>
          <div class="cord-footer" >
            <a href="#" class="btn btn-light"  data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1000">
              <p>Contact Sales</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


