.footer {
  background: linear-gradient(106deg, #232340 1.92%, #2F374E 41.78%, #404F65 94.77%);
  color: #fff;
  text-transform: capitalize;
  position: relative;
  padding-block: 45px;

  h2 {
    font-size: 32px;
    font-weight: 500;
  }

  p {
    font-size: 20px;
    font-weight: 300;
  }

  .frist {
    padding: 20px 0px;
  }

  .form-main {
    @include flex-container(flex-start, normal);
    flex-direction: column;
  }

  .newsletter-form {

    position: relative;
    width: 80%;

    input[type="email"] {
      padding: 10px 15px;
      border: none;
      border-radius: 20px 0 0 20px;
      outline: none;
      width: 100%;
      padding: 10px 10px 10px 24px;
      border-radius: 100px;
      background: rgba(243, 244, 245, 0.10);
      color: white;

      &::placeholder {
        color: white;
      }
    }

    .btn-subscribe {
      padding: 5px 23px;
      border-radius: 100px;
      box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
      border: none;
      background-color: $main-color;
      border-radius: 20px;
      color: #fff;
      cursor: pointer;
      position: absolute;
      right: 7px;
      top: 5px;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;

    }
  }

  .middle {
    padding: 45px 0px;
  }

  .footer-links {
    list-style: none;
    padding: 0;

    li {
      display: inline;
      margin-inline-end: 30px;

      a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .social-links {
    list-style: none;
    padding: 0;

    li {
      display: inline;
      margin-right: 10px;

      a {
        color: #fff;
        width: 24px;
        height: 24px;
        text-decoration: none;

        &:hover {
          color: $main-color;
        }
      }
    }
  }

  .end {
    text-align: center;
    position: relative;

    .copyright {
      font-size: 14px;
      margin-top: 40px;
      text-align: center;

      p {
        width: 100%;
        font-size: 14px;

        a {
          color: #fff;
          text-decoration: none;
          padding-inline-start: 24px;
          text-decoration: underline;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .img-end {
      position: absolute;
      right: 6%;
      top: -67%;
    }
  }
}

@media (max-width: 1023px) {
  .footer {
    text-align: center;
    padding-block: 25px;

    h2 {
      font-size: 22px;
    }

    p {
      font-size: 14px;
    }

    .footer-links,
    .copyright {
      @include flex-container(space-between, center);
      flex-direction: column;
    }

    .footer-links {
      height: 250px;

      li {
        margin-inline-end: 0px;
      }
    }

    .social-links {
      margin-right: 0px;

      li {
        padding-inline-start: 0px;
      }
    }

    .end {
      .copyright {
        width: 100%;
        margin-top: 0px;

        p {
          @include flex-container(space-between, center);
          flex-direction: column;
          margin-right: 0px;

          span {
            order: 3;
          }

          a {
            margin-block-end: 17px;
            padding-inline-start: 0px;
          }
        }
      }

      .img-end {
        display: none;
      }
    }

    .newsletter-form {
      font-size: 14px;
      width: 100%;

      .btn-subscribe {
        font-size: 14px;
      }
    }

    .middle {
      padding: 0px 0px;
    }
  }
}

[dir=rtl] {
  .btn-subscribe {
    right: auto !important;
    left: 7px !important;
  }
}