.text-start {
    margin-top: 70px;

    .section-title {
        font-size: 2rem;
        font-weight: bold;
        text-align: left;
        display: inline-block;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .section-subtitle {
        color: $gray-color;
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: 300;
    }
}

.row {
    .btn-outline-secondary {
        padding: 16px 25px;
        font-weight: 500;
        font-size: 16px;
        border-radius: 100px;
        border: 1.5px solid #D5DAE1;
        color: #000;

        &:hover {
            color: white;
        }
    }
}

.case-cards {
    margin-bottom: 200px;
}

.case-item {
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;

    .case-main {
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 240px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
    }

    .one {
        background-image: url(../../../img/Image3.png);

        .name {
            font-size: 16px;
        }
    }

    .two {
        background-image: url(../../../img/Image4.png);

        .name {
            font-size: 16px;
        }
    }

    .three {
        background-image: url(../../../img/Image5.png);
    }

    .text-overlay {
        background-color: red;
        width: 100%;
        position: relative;

        p {
            margin-block-end: 0px;
            position: absolute;
            left: 49%;
        }

        .name {
            font-size: 13px;
            font-weight: 500;
            top: 50%;
            left: 50%;
            transform: translate(-3%, -96%);
        }

        .role {
            font-size: 10.539px;
            font-weight: 300;
            top: 60%;
            transform: translate(3%, 20%);
        }
    }

    .case-body {
        padding: 15px 20px;

        .case-title {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .case-role {
            color: $gray-color;
            margin-bottom: 10px;
        }
    }

    .case-footer {
        padding: 0px 20px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .case-description {
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 24px;
        }

        .case-badge {
            background-color: #f8f9fa;
            font-size: 0.9rem;
            padding: 5px 10px;
            border-radius: 20px;
        }
    }
}



@media (max-width: 1220px) {
    .case {
        @include flex-container(space-between, center);
        flex-direction: column;

        .btn {
            order: 4;
            width: 100%;
        }

        .case-cards {
            margin-bottom: 20px;
            width: 100%;

            .col-md-4 {
                margin-block-end: 0px;
                width: 45%;

                .case-item {
                    .case-main {
                        background-size: inherit;
                    }

                    .case-body {
                        padding: 8px 0px;
                    }

                    .case-footer {
                        padding: 0px;
                    }

                    .case-img {
                        object-fit: none;
                    }
                }
            }
        }

        .text-start {
            margin-top: 20px;

            .section-subtitle {
                margin-bottom: 5px;
            }
        }
    }
}


@media (max-width: 800px) {
    .case {
        .case-cards {
            .col-md-4 {
                width: 100%;

            }
        }
    }
}