<div class="features">
    <div class=" hero">
        <span class="frist book">
            <img src="../../img/feuture.png">
            <p> Features </p>
        </span>
        <div class="text">
            <strong>
                So, why choose Queue?
            </strong>
            <p>
                We worked on all necessary things to save your time and money.
            </p>
        </div>
    </div>
    <div class="main">
        <div class="row frist-row">
            <div class="col-3">
                <img src="../../img/Monitor.png" />
                <h3>Customize website</h3>
                <p>Stay connected with your team and make quick decisions wherever </p>
            </div>
            <div class="col-3">
                <img src="../../img/fet_2.png" class="white" />
                <h3>Marketing Tools</h3>
                <p>Stay connected with your team and make quick decisions wherever </p>
            </div>
            <div class="col-3">
                <img src="../../img/hour.png" />
                <h3>Support team</h3>
                <p>Stay connected with your team and make quick decisions wherever </p>
            </div>
        </div>
        <div class="row sec-row">
            <div class="col-3">
                <img src="../../img/fet_4.svg" />
                <h3>Order Management </h3>
                <p>Stay connected with your team and make quick decisions wherever </p>
            </div>
            <div class="col-3">
                <img src="../../img/fet_5.svg" />
                <h3>Many ways to pay</h3>
                <p>Stay connected with your team and make quick decisions wherever </p>
            </div>
            <div class="col-3">
                <img src="../../img/fet_6.svg" />
                <h3>No commission</h3>
                <p>Stay connected with your team and make quick decisions wherever </p>
            </div>
        </div>
    </div>
    <div id="carousel-2s" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 5"></button>
          </div>
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <div class="one bold">
                    <img src="../../img/fet_4.svg" />
                    <h3>Order Management </h3>
                    <p>Stay connected with your team and make quick decisions wherever </p>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="one bold">
                    <img src="../../img/fet_2.png" class="white" />
                <h3>Marketing Tools</h3>
                <p>Stay connected with your team and make quick decisions wherever </p>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="one bold">
                <img src="../../img/hour.png" />
                <h3>Support team</h3>
                <p>Stay connected with your team and make quick decisions wherever </p>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="one bold">
                <img src="../../img/fet_6.svg" />
                <h3>No commission</h3>
                <p>Stay connected with your team and make quick decisions wherever </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="one bold">
                <img src="../../img/fet_5.svg" />
                <h3>Many ways to pay</h3>
                <p>Stay connected with your team and make quick decisions wherever </p>
                </div>
            </div>
        </div>

    <div class="back">
        <button class="carousel-control-prev new-effect" type="button" data-bs-target="#carousel-2s" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
                <i class="fa-solid fa-arrow-left"></i>
            </span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next new-effect" type="button" data-bs-target="#carousel-2s" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
                <i class="fa-solid fa-arrow-right"></i>
            </span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    </div>
</div>