<div class=" solution ">
  <div class=" hero">
    <span class="frist book">
      <img src="../../img/sparkle 1.png">
      <p>Queue solution</p>
    </span>
    <div class="text">
      <strong>
        Be online with a dedicated website to represent your brand
      </strong>
      <p>
        Start working with Queue that can provide everything you need to
     generate sales, drive traffic, connect with your loyal customers.
      </p>
    </div>
    <div class="items">
      <span class="book">
        <p>Book Demo</p>
      </span>
      <span class="contact">
        <p>Contact Sales</p>
      </span>
    </div>
  </div>

  <img src="../../img/pic.png" class="main-img" />

  <div class="trust">
    <h2>
      Trusted by
    </h2>
    <p>They are not our clients, but partners in success</p>
    <div class="logo-container">
      <div class="frist">
      <div class="logo"><img src="../../img/coimpany logo 6.svg" alt="Image 1"></div>
      <div class="logo"><img src="../../img/coimpany logo 6.svg" alt="Image 1"></div>
      <div class="logo"><img src="../../img/coimpany logo 6.svg" alt="Image 1"></div>
      <div class="logo"><img src="../../img/coimpany logo 6.svg" alt="Image 1"></div>
      <div class="logo end"><img src="../../img/coimpany logo 6.svg" alt="Image 1"></div>
      </div>
      <div class="sec">
      <div class="logo"><img src="../../img/coimpany logo 6.svg" alt="Image 1"></div>
      <div class="logo"><img src="../../img/coimpany logo 6.svg" alt="Image 1"></div>
      <div class="logo"><img src="../../img/coimpany logo 6.svg" alt="Image 9"></div>
      <div class="logo"><img src="../../img/coimpany logo 6.svg" alt="Image 1"></div>
      <div class="logo"><img src="../../img/coimpany logo 6.svg" alt="Image 1"></div>
      <div class="logo start"><img src="../../img/coimpany logo 6.svg" alt="Image 1"></div>
      </div>
    </div>

  </div>
</div>