.testimonial {
    margin-top: 100px;
    @include flex-container(space-between, center);
    flex-direction: column;
    text-align: center;


    .frist {
        @include flex-container(space-between, center);
        @include span-style($box-shadow-gray);
        @include book-style($main-color, $secondary-color);
        @include frist-span();
        padding: 6px 16px;

        p {
            @include frist-p()
        }
    }

    .text {
        @include text-styles();
        position: relative;
        margin-top: 39px;

        strong {
            font-size: 30px;
            font-weight: 500;

        }

        img:nth-of-type(1) {
            position: absolute;
            top: -47px;
            left: -106px;
        }

        img:nth-of-type(2) {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .carousel {
        margin: 10px 0;
        text-align: left;
        width: 100%;
        display: block;
        margin: 70px 0px;

        .carousel-indicators [data-bs-target] {
            background-color: $gray-color;
            height: 12px;
            width: 12px;
            border-radius: 100%;
            margin-bottom: auto;
        }

        .carousel-indicators {
            margin-bottom: -1.5rem;
        }

        .carousel-indicators .active {
            background-color: $main-color;
        }

        .one {
            @include flex-container(flex-end, center);
            flex-direction: column;
            cursor: pointer;
            text-align: center;
            padding-bottom: 35px;
            justify-content: center;

            p {
                margin-bottom: 20px;
                font-size: 16px;
                width: 50%;
            }

            img {
                margin-bottom: 38px;
                width: 88px;
                height: 88px;
            }
        }

        .back {
            @include flex-container(center, center);
            margin-bottom: -31px;

            .carousel-control-next {
                background-color: $main-color;
            }

            .carousel-control-prev {
                background-color: $gray-color;
            }

            .carousel-control-next,
            .carousel-control-prev {
                --size: 2.1rem;
                font-size: 10px;
                border-radius: 100%;
                width: var(--size);
                height: var(--size);
                margin-right: 10px;

                span {
                    width: 24px;
                    height: 24px;
                    background-image: none;
                    font-size: 15px;
                }
            }
        }
    }


}

@media (max-width: 1400px) {
    .testimonial {
        .text {
            width: 100%;

            strong {
                overflow: hidden;
                z-index: 3;
            }

            p {
                font-size: 16px;
            }

            img {
                z-index: 2;
            }
        }
    }
}

@media (max-width:800px) {
    .testimonial {
        .text {
            width: 100%;

            strong {
                font-size: 20px;
                br{
                    display: none;
                }
            }
        }
    }
}

@media (max-width:600px) {
    .testimonial {
        .text {
            width: 100%;

            img {
                display: none;
            }
        }
    }
}