<div class="filed">
   <div class="container">
      <div class="sec-part">
         <div class="text">
             <img src="../../img/star.jpg" class="star" />
             <strong>Queue is bulid for many fields.</strong>   <img src="../../img/vector.jpg" class="vector" />
             <p>Whatever your field of trade, you can count on Queue and its
                 <br/> support for various sectors.
             </p>
         </div>
         <div class="hero-part">
            <div class=" frist-section">
               <div class="element">
                  <img src="../../img/caffe.jpg"/>
                  <h3>Cafe Shop</h3>
                  <p>Everything you need to run your business digitally.</p>
               </div>
               <div class="element">
                  <img src="../../img/shop.png"/>
                  <h3>Super Markets</h3>
                  <p>Everything you need to run your business digitally.</p>
               </div>
               <div class="element">
                  <img src="../../img/other.jpg"/>
                  <h3>Many Other Stores</h3>
                  <p>Everything you need to run your business digitally</p>
               </div>
            </div>
            <div class=" sec-section">
               <img src="../../img/Rectangle.png"/>
            </div>
            <div class="third-section">
                  <div class="element">
                     <img src="../../img/restaurants.jpg"/>
                     <h3>restaurants</h3>
                     <p>Everything you need to run your business digitally.</p>
                  </div>
                  <div class="element">
                     <img src="../../img/desert.jpg"/>
                     <h3>Dessert shop</h3>
                     <p>Everything you need to run your business digitally.</p>
                  </div>
                  <div class="element">
                     <img src="../../img/stationery.jpg"/>
                     <h3>Stationery store</h3>
                     <p>Everything you need to run your business digitally .</p>
                  </div>
            </div>
         </div>
      </div>
   </div>
</div>