<div class="services">
    <div class="container frist-part">
        <span class="frist book">
            <img src="../../img/Group.png">
            <p>Services</p>
        </span>
        <div class="text">
            <strong>Track your business in a new way</strong>
            <p>Here are some services that help your business with Queue Solution.</p>
        </div>
        <div class="row content">
            <span class="col-3 item">
                <img src="../../img/Layer 2.png">
                <p class="text-diff">Sales</p>
            </span>
            <div class="col-3 item">
                <img src="../../img/Manage_inactive.png">
                <p>Manage</p>
            </div>
            <div class="col-3 item">
                <img src="../../img/Marketing_inactive.png">
                <p>Marketing</p>
            </div>
            <div class="col-3 item">
                <img src="../../img/reports_inactive.jpg">
                <p>Report</p>
            </div>
        </div>
        <div id="carousel-1s" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <div class="one bold">
                        <img src="../../img/Layer 2.png" alt="Sales" class="item-icon">
                        <p class="item-text">Sales</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../img/Manage_inactive.png" alt="Manage" class="item-icon">
                    <p class="item-text">Manage</p>
                </div>
                <div class="carousel-item">
                    <img src="../../img/Marketing_inactive.png" alt="Marketing" class="item-icon">
                    <p class="item-text">Marketing</p>
                </div>
            </div>

           
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-1s" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true">
                    <i class="fa-solid fa-arrow-left"></i>
                </span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-1s" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true">
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="row main">
            <div class="one col-6"  >
                <div class="text">
                    <h1>Customize responsive<br> website for ordering.</h1>
                    <p>Launch a website that is suitable for all devices, <br> which allows your customers to browse and
                        purchase your products using different and diverse payment methods.</p>
                </div>
                <ul>
                    <li>
                        <img src="../../img/chevron-right-double.png"> Responsive website.
                    </li>
                    <li>
                        <img src="../../img/chevron-right-double.png"> New, trending, and adjustable website.
                    </li>
                    <li>
                        <img src="../../img/chevron-right-double.png"> Comfortable and easy purchasing experience.
                    </li>
                </ul>
                <a href="#">Learn More <img src="../../img/chevron-right.png"></a>
            </div>
            <div class="two col-6" >
                <img src="../../../img/pic2.png"/>
            </div>
        </div>
    </div>
</div>