<div class="container">
    <div class="testimonial">
        <span class="frist book">
            <img src="../../img/testimonial.svg">
            <p>Testimonial</p>
        </span>
        <div class="text">
            <img src="../../img/one.png"/>
            <strong>Queue dashboard is something I recommend to every other restaurant owner.
                <br/>
                I am also impressed with Queue quality after-sale experience,
                especially their
                <br/> customer support.
                <br/></strong>
                <img src="../../img/two.png"/>
        </div>
        <div id="carousel-3s" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <div class="one bold">
                        <img src="../../img/fet_4.svg" />
                        <h3>Order Management </h3>
                        <p>Stay connected with your team and make quick decisions wherever </p>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="one bold">
                        <img src="../../img/fet_2.png" class="white" />
                    <h3>Marketing Tools</h3>
                    <p>Stay connected with your team and make quick decisions wherever </p>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="one bold">
                    <img src="../../img/hour.png" />
                    <h3>Support team</h3>
                    <p>Stay connected with your team and make quick decisions wherever </p>
                    </div>
                </div>
            </div>
    
        <div class="back">
            <button class="carousel-control-prev new-effect" type="button" data-bs-target="#carousel-3s" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true">
                    <i class="fa-solid fa-arrow-left"></i>
                </span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next new-effect" type="button" data-bs-target="#carousel-3s" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true">
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
    </div>
</div>